@use "../../../styles/abstracts/colors" as *;

.login {
  width: 360px;
  height: 254px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border-radius: 20px;
}

.login > * {
  margin: 0;
}

.login__title {
  font-size: 23px;
  font-weight: 900;
  color: $primary;
}

.login__content {
  font-size: 13px;
  line-height: 18px;
  color: #333;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.sign-up:hover {
  opacity: 0.8;
} 
